body {
  background-color: #a9a4a4;
}

/* background color for nav bar */
.topnav {
  width: 800px;
  background-color: #000000;
  overflow: hidden;
  border-radius: 60px;
}

/* style on links */
.topnav a {
  color: #white;
  padding: 12px;
  text-align: center;
  font-size: 15px;
  width: 20%;
}

/* on hover */
.topnav a:hover {
  background-color: #ffffff;
  color: black;
  
}

/* current page */
.topnav a.active {
  background-color: #740571;
  color: black;
}

